#page-content ,#page-content > *, #page-header, #page-header *,#page,
{
background-color: grey !important;
}

#region-main-box *, #region-main-box{
  background-color: #89898c;
}

#nav-drawer,#nav-drawer *,.navbar,.navbar *,.secondary-navigation,.secondary-navigation *
{
  background-color: #666666 !important;
}

#nav-drawer * {
  color: black;
}


#nav-drawer .active {
  border: 1px solid lightgrey;
}
.nav-tabs, .navbar.fixed-top,.secondary-navigation, .mform fieldset{
  border: none;
}

.border-bottom{
  border-bottom: black solid 1px;
}

.list-group-item:hover{
  border: lightgrey 1px solid;
  font-weight: bold;
}

.nav-link:hover{
  font-weight: bold;
}